*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
#main{
    width:423px ;
    
    height: 858px;
    border-radius: 40px;
    background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%);
    margin-left: 500px;
    padding:44px 41px 0px 44px;
}
select{
    width: 120px;
    height: 27px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    /* margin-top: 47px;
    margin-left:80px; */
    border: 0px;
    font-weight: 500;
    font-size: 18px;
}
/* #fortaleza{
    width: 130px;
    height: 30px;
} */
#fortimg{
    width: 27px;
    height: 27px;
}
#weather{
    width: 284px;
    height: 207px;
}
#degrees{
    width: 380px;
    height: 76px;
    padding: 22px;
    text-align: center;
    font-size: 33px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 100;
}
#precep{
    font-size:17px ;
    display: block;
    width: 310px;
    font-weight: 300;
}
#max{
    font-size:17px ;   
    font-weight: 300;
    display: block;
    width: 310px;
}
#line{
   display: inline-block;
   width: 343px;
   height: 45px;
   border-radius: 20px;
   opacity: 0.3px;
   background-color: rgb(13, 57, 137);
   margin-top: 100px;
   /* line-height: 0px; */
} 
.liniya{
    display: inline-block;
    width: 78px;
    height: 34px;
    /* margin-top: 100px; */
    background-color: rgba(13, 56, 137, 0);
    line-height: 40px;
    padding: 10px;
    color: white;
}
#doqq{
    display:inline-block;
    width: 80px;
    height: 34px;
    background-color: rgba(13, 56, 137, 0);
/* line-height: 40px;  */
    color: white;
    margin-left: 50px;
    margin-bottom: 100px;
    
}
#ten{
    display:inline-block;
    width: 80px;
    height: 34px;
    background-color: rgba(13, 56, 137, 0);
 /* line-height: 40px;  */
    color: white;
    margin-left: 230px; 
}
/* #bir{
    display: inline-block;
    text-align: center;
} */
#bir,
#bir .yagis{
    display: inline-block;
}